<%- contentFor('basic') %>
<section class="basic">

    <div class="basic-content">
      <h2>“Donde el futuro no sólo se imagina, sino se crea”</h2>

      <a href="/venta" class="btn btn-lg btn-warning">Teléfonos y Smartphones</a>

    </div>

  </section>
  <%- contentFor('body') %>
  <article class="about">
    <h1 class="text-center">Promociones</h1>
    <h2 class="blockquote-footer text-center">Planes GRATIS por el mes de mayo de 2021</h2>
    <h3>Plan Amigos</h3>
<p class="text-justify">Amigo Sin Límite es el esquema de cobro que incluye megas, minutos y mensajes ilimitados; así como, usar WhatsApp estando en México, Estados Unidos o Canadá.
  Además incluye Facebook, Twitter, Messenger, Snapchat e Instagram para uso nacional.</p>
    <div class="w-100 alert alert-info" role="alert">
      <ul>
        <li>Los megas incluidos los puedes utilizar en México, E.U.A y Canadá.</li>
        <li>Llamadas y mensajes ilimitados en recargas a partir de $20.</li>
        <li>Activación automática del servicio de Voz, Mensajes de Texto (SMS) y Datos de acuerdo a la recarga exacta realizada.</li>
        <li>Llamadas entrantes sin costo en México, E.U.A. y Canadá.</li>
        <li>Facebook, Twitter, Messenger, Snapchat e Instagram nacional.</li>
        <li>WhatsApp en México, E.U.A y Canadá.</li>
        <li>En caso de no tener beneficios Ilimitados cuentas con 3 números gratis.</li>
      </ul>
    </div>
    <h3>Plan Sin Fronteras</h3>
    <p class="text-justify">Con el plan sin fronteras comunicarte en E.U.A y Canadá es como si estuvieras en México.</p>
    <div class="w-100 alert alert-success" role="alert">
      <ul>
        <li>Utilizar los minutos, mensajes y megas al mismo costo en México, E.U.A. y Canadá.</li>
        <li>Las llamadas de México a E.U.A. y Canadá cuestan como locales, sin costo de Larga Distancia Internacional.</li>
        <li>Si estás en Estados Unidos o en Canadá y te llaman, contesta porque no cuesta.</li>
        <li>Las llamadas desde E.U.A. y Canadá hacia México cuestan como locales, sin costo de Roaming ni Larga Distancia Internacional.</li>
        <li>Tus 5 Números Gratis para utilizar también puedes usarlos en E.U.A. y Canadá, como si estuvieras en México.</li>
      </ul>
    </div>
  </article>
  
