<body id="contactFondo">
<div class= "jumbotron text-center"> 
    <h1 class= "tContact">Contáctanos para tener más infomación</h1><br>
        <div class="row">
            <h5 class= "t2Contact">Llámanos sin costo desde tu Amigo Telcel al *264 o marca al *111, si tienes un Plan de Renta</h5>
            
            <div class="col-sm-6">
                <br> <br>
                    <p class="lead text-justify">
                        Nuestro Centro de Atención Telefónico está disponible las 24 horas del día, los 365 días del año. En él podrás realizar todo tipo de consultas de información y trámites relacionados con Telcel, estés donde estés.
                    </p>
                    <div class="w-100 alert alert-info" role="alert">
                        Desde cualquier número fijo o móvil: <br>
                        664 633 3300  &nbsp &nbsp	800 02 62 626
                    </div>
                    <br>
                    <p class="lead text-center">Para cualquier duda envía <br> un correo a &nbsp; TelcelAyuda@gmail.com 
            </div>
            <div class="col-sm-6">
                <br>
                <h3 class="gracias">¡Gracias por querer ser parte de la familia Telcel!</h3><br>
                <img src="https://cdn-aojfb.nitrocdn.com/RrXUqEHZorlATWDXGTMpLuheNKzcZEXq/assets/static/optimized/rev-076ac45/wp-content/uploads/2020/10/envio-de-mensajes-masivos-en-me%CC%81xico.png" alt="" class="img-fluid" id="imgC">
                
                
            </div>
</div>
</body>